$color-BM: #3D4050;
$color-BM-II: #6F6D7B;
$color-QM: rgba(39, 39, 51, 0.90);
$color-AM: rgba(61, 64, 80, 0.85);
$color-BB: #BBBBBB;
$color-DM: #000000;
$color-DM-II: #2A2B30;
$color-PM: #272733;
$color-WM: #FFFFFF;
$color-OWM: rgba(255, 255, 255, 0.85);
$color-DWM: #C3C3C3;
$color-CM: #42A9ED;
$color-CM-II: #3E9CDC;
$color-DBM: #286690;