@import 'color';
@import 'fonts';

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-size: $font-16;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: $color-BM;
    color: $color-WM;
}

.body {
    &_lock {
        overflow: hidden;
    }
}

:root {
    accent-color: $color-CM;
}