.container {
    position: relative;
    display: flow-root;
    box-sizing: content-box;
    max-width: 1169px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1320px) {
    .container {
        max-width: calc(100% - 68px);
    }
}

@media (max-width: 620px) {
    .container {
        max-width: calc(100% - 22px);
    }
}